// CSS for content-portfolio.php

.portfolio-item {
  background: $color__image-mat;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-child(odd) {
    flex-direction: row-reverse;
    @media screen and (min-width: 320px) and (max-width: 1023px) {
      width: 100%;
      padding: 0;
      flex-direction: column;
      background: none;
      margin-bottom: 50px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
    padding: 0;
    flex-direction: column;
    background: none;
    margin-bottom: 50px;
  }
}

.portfolio-image-wrapper {
  width: calc(50% - 10px);
  > img {
    display: block;
    border: 4px solid $color__white;
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background: $color__image-mat;
  }
}

.portfolio-item-title {
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    font-size: 30px;
  }
}
.portfolio-item-details {
  width: calc(50% - 10px);
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
  }
}

.portfolio-item-client {
  margin: 0 0 15px 0;
  color: $color__accent;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin: 0;
  }
}

.portfolio-item-view,
.portfolio-item-view:visited, {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  color: $color__black;
  border: 1px solid $color__black;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: $color__white;
    background: $color__black;
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.portfolio-view-all,
.portfolio-view-all:visited, {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 30px;
  color: $color__white;
  background: $color__accent;;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: $color__white;
    background: $color__black;
  }
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-item-categories {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    color: $color__gray;
    margin: 10px 0 0 0;
  }
}

.portfolio-item-category {
  list-style: none;
  padding: 0 2px;
  font-size: 10px;
  text-transform: uppercase;
}

/// SINGLE-PORTFOLIO
.single-portfolio-content {
  width: 90%;
  max-width: 1280px;
  margin: 40px auto;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
}

.single-portfolio-header {
}

.single-portfolio-client {
  font-size: 20px;
  color: $color__accent;
  margin: 0 0 20px 0;
}

.single-portfolio-title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.single-portfolio-summary {
  font-size: 16px;
  margin: 20px 0 0 0;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    font-size: 14px;
  }
}

.single-portfolio-categories {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: $color__gray;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    font-size: 10px;
  }
}

.single-portfolio-category {
  list-style: none;
  padding: 0 2px;
  text-transform: uppercase;
}

.single-portfolio-feature-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color__image-mat;
  margin: 30px 0;
  padding: 20px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 10px;
  }
}

.single-portfolio-feature-image {
  display: block;
  border: 4px solid $color__white;
}

.single-portfolio-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color__image-mat;
  margin: 30px 0;
  padding: 20px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding: 10px;
  }
}

.single-portfolio-image {
  max-width: 100%;
  display: block;
  border: 4px solid $color__white;
}