@import '../variables-site/responsive';
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
/*--------------------------------------------------------------
## Template Types
--------------------------------------------------------------*/
@import "front-page";
@import "archive";
@import "single-portfolio";
@import "content-portfolio";
@import "content-page";
@import "footer";

/*--------------------------------------------------------------
## Global Styles
--------------------------------------------------------------*/

.page-content {
  padding: 81px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    width: 90%;
    max-width: 1280px;
  }
  @media #{$isMobile} {
    padding: 81px 0 30px 0x;
  }
}

.page-header {
  width: 90%;
  max-width: 1280px;
}

.page-title {
  font-size: 60px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media #{$upToDesktop} {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.page-description {
  font-size: 20px;
  margin: 0;
  @media #{$upToDesktop} {
    font-size: 16px;
  }
}

section {
  padding: 60px 0;
  width: 90%;
  max-width: 1280px;
}
