// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.site-content {
  padding: 40px;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item-content {
  width: 50%;
}

.portfolio-item-cover {
  width: 50%;
  padding: 25px;
}

.portfolio-item-cover-image {
  width: 100%;
}