body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__size-desktop;
	line-height: $font__line-height-body;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    font-size: $font__size-mobile;
  }
}

@import "headings";

@import "copy";
