// Custom Variables

$color__white: #fff;
$color__accent: #97d1d1; 
$color__black: #2E2E2E;
$color__gray: #ccc;

//

$color__background-body: #F6F6F6;
$color__background-screen: #F3F3F3;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #2E2E2E;
$color__link: #2E2E2E;
$color__link-visited: #2E2E2E;
$color__link-hover: #97d1d1;
$color__text-main: #2E2E2E;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__image-mat: #efefef;