// Media Query Variables

$isMobile: 'screen and (min-width: 320px) and (max-width: 767px)';
$isTablet: 'screen and (min-width: 768px) and (max-width: 1023px)';
$isDesktop: 'screen and (min-width: 1024px)';
$upToDesktop: 'screen and (min-width: 320px) and (max-width: 1023px)';