.main-navigation {
  display: flex;
  align-items: center;
	width: 100%;
  .menu-menu-1-container {
    width: 100%;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 40px 0;
      li {
        display: inline-block;
        padding: 0 15px;
      }
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
